@import "../../styles/main.scss";
@import "../../styles/mixins.scss";

.nav-wrapper {
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo {
        margin-left: 20px;
        cursor: pointer;

        p {
            font-family: "Orbitron";
            font-size: 0.8rem;
            font-weight: 400;
            color: var(--header-font-color);

            span {
                color: var(--primary-font-color);
            }

            .theme-icon {
                position: relative;
                bottom: 5px;
                left: 5px;
            }
        }
    }

    .mobile-nav {
        display: block;

        .menu-icon {
            width: 30px;
            height: 22px;
            position: relative;
            cursor: pointer;
            z-index: 1000;
            margin-right: 20px;

            div {
                width: 100%;
                height: 3px;
                background: var(--primary-font-color);
                margin: 5px 0;
                border-radius: 2px;
                transition: all 0.4s;
            }
        }

        .menu-icon.open .bar1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .menu-icon.open .bar2 {
            opacity: 0;
        }

        .menu-icon.open .bar3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding: 1.5rem 0;
        z-index: 999;

        transform: translateX(100%);
        transition: transform 0.8s ease-in-out;

        li {
            a {
                font-size: 1.3rem;
                font-family: "Orbitron";
                font-weight: 600;
                color: var(--primary-font-color);
                transition: all 0.3s;

                &:hover {
                    color: var(--header-font-color);
                }
            }

        }
    }

    .mobile-menu.open {
        transform: translateX(0);
    }
}